# Docker / volumes



db-data1/
letsencrypt/

# PrestaShop


project/public/config/settings.inc.php
project/public/html/cache/


!project/public/index.php
!project/public/Install_PrestaShop.html

!.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

