version: "3.9"

services:

  traefik:
    image: traefik:v3.0
    container_name: traefik
    restart: unless-stopped
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - web

  db:
    image: mariadb:11
    container_name: prestashop-db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: prestashop
      MYSQL_USER: prestashop
      MYSQL_PASSWORD: prestashop
    volumes:
      - ./db-data1:/var/lib/mysql
    networks:
      - web
    # healthcheck supprimé
  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: phpmyadmin
    restart: unless-stopped
    environment:
      PMA_HOST: db
      PMA_USER: prestashop
      PMA_PASSWORD: prestashop
      PMA_PORT: 3306
    depends_on:
      - db
    networks:
      - web
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.phpmyadmin.rule=Host(`phpmyadmin.localhost`)"
      - "traefik.http.routers.phpmyadmin.entrypoints=web"
      - "traefik.http.services.phpmyadmin.loadbalancer.server.port=80"
  prestashop-php:
    build:
      context: ./prestashop-php
      dockerfile: Dockerfile
    container_name: prestashop-php
    restart: unless-stopped
    volumes:
      - ./project:/var/www
    environment:
      TZ: UTC
      DB_SERVER: db
      DB_NAME: prestashop
      DB_USER: prestashop
      DB_PASSWORD: prestashop
      PS_DEV_MODE: 1
    depends_on:
      - db  # ne vérifie plus health
    networks:
      - web

  nginx:
    image: nginx:alpine
    container_name: prestashop-nginx
    restart: unless-stopped
    volumes:
      - ./project:/var/www
      - ./prestashop-php/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - prestashop-php
    networks:
      - web
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nginx.rule=Host(`prestashop1.localhost`)"
      - "traefik.http.routers.nginx.entrypoints=web"
      - "traefik.http.services.nginx.loadbalancer.server.port=80"

networks:
  web:
    driver: bridge
volumes:
    db-data:
    certs:

